USE [master]
GO
/****** Object:  Database [BreweryManagement]    Script Date: 8/14/2022 7:58:41 PM ******/
CREATE DATABASE [BreweryManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BreweryManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BreweryManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BreweryManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BreweryManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BreweryManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BreweryManagement]
GO
USE [BreweryManagement]
GO
/****** Object:  Table [dbo].[Beer]  
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beer](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[BreweryID] [uniqueidentifier] NOT NULL,
	[AlcoholContent] [decimal](18, 2) NOT NULL,
	[RetailPrice] [decimal](20, 2) NULL,
	[WholesalePrice] [decimal](20, 2) NOT NULL,
	[IsDeleted] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brewery]   
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brewery](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wholesaler]    
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wholesaler](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WholesalerBeerQuote]  
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WholesalerBeerQuote](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BeerID] [uniqueidentifier] NOT NULL,
	[WholesalerID] [uniqueidentifier] NOT NULL,
	[DiscountPercentage] [decimal](18, 2) NOT NULL,
	[MinimumNumberOfBeers] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WholesalerStock]   
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WholesalerStock](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BeerID] [uniqueidentifier] NOT NULL,
	[WholesalerID] [uniqueidentifier] NOT NULL,
	[NumberOfBeers] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Beer] ([ID], [Name], [BreweryID], [AlcoholContent], [RetailPrice], [WholesalePrice], [IsDeleted]) VALUES (N'6c9626e4-5ff0-4425-bdab-d390fd9e7353', N'Saison Dupont - Organic Belgian Beer', N'77f2b686-aabf-4ed1-b9e4-506d5e9bda88', CAST(5.50 AS Decimal(18, 2)), CAST(2.35 AS Decimal(20, 2)), CAST(2.20 AS Decimal(20, 2)), 0)
INSERT [dbo].[Beer] ([ID], [Name], [BreweryID], [AlcoholContent], [RetailPrice], [WholesalePrice], [IsDeleted]) VALUES (N'812a4bd9-366f-487e-a6e1-9cd2c9a82f9d', N'Organic Moinette - Belgian Beer', N'77f2b686-aabf-4ed1-b9e4-506d5e9bda88', CAST(7.50 AS Decimal(18, 2)), CAST(2.60 AS Decimal(20, 2)), CAST(2.45 AS Decimal(20, 2)), 0)
INSERT [dbo].[Beer] ([ID], [Name], [BreweryID], [AlcoholContent], [RetailPrice], [WholesalePrice], [IsDeleted]) VALUES (N'0a6d73d8-4802-4d42-b365-d2e626b2509d', N'Lindemans Faro Lambic - Red Belgian Beer', N'10bf3cfc-afd1-437c-bc33-7527c5593938', CAST(4.50 AS Decimal(18, 2)), CAST(1.60 AS Decimal(20, 2)), CAST(1.50 AS Decimal(20, 2)), 0)
INSERT [dbo].[Brewery] ([ID], [Name]) VALUES (N'77f2b686-aabf-4ed1-b9e4-506d5e9bda88', N'Brasserie Dupont')
INSERT [dbo].[Brewery] ([ID], [Name]) VALUES (N'10bf3cfc-afd1-437c-bc33-7527c5593938', N'Brasserie Lindemans')
INSERT [dbo].[Brewery] ([ID], [Name]) VALUES (N'1b4f49c2-9ca8-4e87-bebb-d83d200680c7', N'Van Steenberge')
INSERT [dbo].[Wholesaler] ([ID], [Name]) VALUES (N'481b8ced-3fa6-4bc1-beee-2077e4f27fab', N'Belgibeer')
INSERT [dbo].[Wholesaler] ([ID], [Name]) VALUES (N'a2fa5b28-77be-47e9-92d9-851d28b8831d', N'Carlsberg Importers')
INSERT [dbo].[Wholesaler] ([ID], [Name]) VALUES (N'3f9ff53e-ba16-449d-b999-cc34d15a7bbc', N'Drinks Center Fontana')
/****** Object:  Index [IX_WholesalerStock_BeerID]    Script Date: 8/14/2022 7:58:41 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_WholesalerStock_BeerID] ON [dbo].[WholesalerStock]
(
	[BeerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
